/ {
    chosen {
        zephyr,console    = &usart2;
        zephyr,shell-uart = &usart2;
        zephyr,sram       = &sram0;
        zephyr,flash      = &flash0;
        zephyr,ccm        = &ccm0;
    };
};

&flash0 {
    partitions {
        compatible = "fixed-partitions";
        #address-cells = <1>;
        #size-cells    = <1>;

        slot0_partition: partition@8000 {
            label = "image-0";
            reg   = <0x00008000 0x00058000>;
        };

        model_partition: partition@60000 {
            label = "model-storage";
            reg   = <0x00060000 0x00020000>;
        };

        ota_staging: partition@80000 {
            label = "ota-staging";
            reg   = <0x00080000 0x00040000>;
        };

        storage_partition: partition@C0000 {
            label = "storage";
            reg   = <0x000C0000 0x00040000>;
        };
    };
};

&pinctrl {
    /omit-if-no-ref/
    usart1_rx_pb7_pullup: usart1_rx_pb7_pullup {
        pinmux = <STM32_PINMUX('B', 7, AF7)>;
        bias-pull-up;
    };
};

&usart1 {
    pinctrl-0 = <&usart1_tx_pb6 &usart1_rx_pb7>;
    pinctrl-names = "default";
    current-speed = <115200>;
    status = "okay";
};


